
.card {
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border: 2px solid antiquewhite;
    width: 200px;
    padding: 5px;
    margin: 10px;
    height: 300px;
    text-decoration: none;
    border-radius: 3%;

    .photo {
        background-color: rgba(255, 255, 255, 0.7);
        height: 245px;
        width: 190px;
        background-position: center 20%;
        text-decoration: none;
        border-radius: 3%;
    }

    .name {
        text-decoration: none;
        color: #bcf5fc;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .addToFavs {
        background-color: #cd67c7;
        cursor: pointer;
        color:#282c34;
        padding: 0 10px ;
        border-radius: 10px;
    }
    .removefromFavs {
        background-color: #1f8b1f;
        cursor: pointer;
        color: white;
        padding: 0 10px ;
        border-radius: 10px;
    }
}